<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To ( EJS ) File</h1>

    <% if(name == "Ahmed"){ %>
        <h2>Hello Admin : <%=name %></h2>
    
    <% }
    else{
    %>
        <h2>Hello User <%=name %> And Age is: <%=age %> </h2>
    <%}%>
    <h2>hello Ahmed Elhady Fawzy Khalil Awadallah 
        Bismallah Alrahman arahem
    </h2>

    
</body>
</html>